[Unit]
Description=IOT Daemon
Wants=ifup@eth0.4.service
Wants=chrony-time-wait-sync.service
After=ifup@eth0.4.service
After=chrony-time-wait-sync.service

[Service]
Type=exec
ExecStart=/opt/iot/bin/iot -v 3
WorkingDirectory=/var/iot/
User=iot
Group=iot
Restart=on-abort

[Install]
WantedBy=multi-user.target
